<div class="p-3 mb-2 bg-primary d-flex justify-content-between text-white">
	<div class="text-white">
		<h3>All Articles</h3>
	</div>
	<div>
		<%= link_to "ADD ARTICLE", new_article_path, class:"btn btn-primary"%>
	</div>
</div>
<div class="position-relative">
	<ul id="articles" class="list-group-item" >
	  <% @articles.each do |article| %>
	    <li class="list-group-item list-group-item-action">
	      <%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
	    </li>
	  <% end %>
	</ul>
</div>